@import 'https://fonts.googleapis.com/css?family=Karla';


.menu {text-align:justify; margin-top:20pt;}
.menu:after { content:' '; display:inline-block; width: 100%; height: 0 }
.menu > span {display:inline-block}

.container {
    display: inline-block;
    display: -moz-inline-box;
    *display: inline; /* For IE7 */
    zoom: 1.5; /* Trigger hasLayout */
    width: 100%;
    text-align: center;
}

body {
   font-family: 'Karla', sans-serif;
   font-size: 12px;
   color: black;
}
h0 {
    color: black;
    margin-left:700px;
    text-align: left;
    text-transform: lowercase;
    font-size: 40pt;
    font-family: 'Karla', sans-serif;
  }

/* unvisited linked*/
a:link {
    font-family: 'Karla', sans-serif;
    color: black;
    text-decoration: none;
    border-bottom: 15px solid #ECF5F4;
    display: inline-block;
    line-height: 30px;
}

/* mouse over linked*/
a:hover {
    font-family: 'Karla', sans-serif;
    color:black;
    text-decoration: none;
    border-bottom: 18px solid #ECF5F4;
}

/*a:visited*/
a:visited{
    font-family: 'Karla', sans-serif;
    color:black;
    text-decoration: none;
    border-bottom: 15px solid #ECF5F4;
    display: inline-block;
    line-height: 30px;
}

/* unvisited linked*/
a.normal:link {
    font-family: 'Karla', sans-serif;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    border-bottom: 5px solid #ECF5F4;
    display: inline-block;
    line-height: 9px;
}

/* mouse over linked*/
a.normal:hover {
    font-family: 'Karla', sans-serif;
      text-transform: uppercase;
    color:black;
    text-decoration: none;
    border-bottom: 10px solid #ECF5F4;
}

/*a:visited*/
a.normal:visited{
    font-family: 'Karla', sans-serif;
      text-transform: uppercase;
    color:black;
    text-decoration: none;
    : 5px solid #ECF5F4;
    display: inline-block;
    line-height: 50px;
}




  .leftline {
    width: 20px;
    height:400px;
    background: #ECF5F4;
    margin-left: 150px;
    margin-top:100px;
    display: inline-block;
}


  .landingpageheader {
    padding-left:100px;
    padding-top:5px;
    position: relative;
    display: inline-block;
    vertical-align:center;
  }
